:root{
    --header-icon-color: #000000;
    --titles-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --footer-text-color:#FFFFFF;
    --footer-bg-color: #2F303A;
    --menu-color: #F5F4FA;
}
ul{
    list-style: none;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.footer{
    background-color: var(--footer-bg-color);
    padding: 60px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header-icon{
    color: var(--header-icon-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    margin-right: 93px;
}
.icon-next-color{
        color: var(--accent-color);
}
.header-link{
    color: var(--titles-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.header-link:hover{
        color: var(--accent-color);
}
.contact-link{
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.contact-link:hover{
        color: var(--accent-color);
}
.header-list-item{
    display: inline-block;
    margin-right: 60px;
}
.contact-list:first-child{
        margin: 30px;
}
.contact-list:first-child::before{
        margin-right: 10px;
        content: "";
        display: flex;
        width: 12px;
        height: 16px;
        background-image: url(./images/envelope.jpg);
        background-size: cover;
}
.contact-list:first-child::before{
        margin-right: 10px;
        content: "";
        display: flex;
        width: 16px;
        height: 10px;
        background-image: url(./images/Vectorphone.jpg);
        background-size: cover;
}
.footer-icon{
    color: var(--footer-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer-address{
    color: var(--footer-text-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    gap: 0 9px;
}
.address-item{
    color: var(--footer-text-color);
    opacity: 60%;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    text-decoration: none;
}
.footer-title{
    color: var(--footer-text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-network-item{
    display: inline-block;
    margin-right: 10px;
}
.footer-network{
        margin-left: 156px;
        margin-right: 93px;
}
.footer-network-list{
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
}
.form-input{
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
}
.form-title{
    padding-bottom: 20px;
} 
.form-button{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--footer-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding-left: 41px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.form-button::after{
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./images/iconsend.png);
    margin-left: 22px;
}
.footer-form{
    display: flex;
    flex-wrap: nowrap;
}
.contact-item{
    display: inline-block;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.menu-item{
    height: 38px;
    background-color: var(--menu-color);
    border-radius: 4px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}
.menu-list:first-child{
    width: 70px;
}
.menu-list:nth-child(2){
    width: 120px;
}
.menu-list:nth-child(3){
    width: 136px;
}
.menu-list:nth-child(4){
    width: 102px;
}
.menu-list:last-child{
    width: 127px;
}
.gallery-item{
    height: 404px;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
}