.header-icon{
    color: var(--header-icon-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    margin-right: 93px;
    }
    .icon-next-color{
        color: var(--accent-color);
    }